@tailwind base;
@tailwind components;
@tailwind utilities;



@font-face {
    font-family: 'SF Pro';
    src: url('./fonts/sfpro.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
  }
  

  body {
    background-color: #181a20;
    font-family: 'SF Pro', -apple-system, BlinkMacSystemFont, sans-serif;
  }


  .font-sf{
    font-family: 'SF Pro', -apple-system, BlinkMacSystemFont, sans-serif;
  }

.lh-0-5 {
    line-height: 0.5 !important;
  }
  .lh-1 {
    line-height: 1 !important;
  }
  .lh-1_1 {
    line-height: 1.1 !important;
  }
  .lh-1_2 {
    line-height: 1.2 !important;
  }
  .lh-1_3 {
    line-height: 1.3 !important;
  }
  .lh-1_4 {
    line-height: 1.4 !important;
  }
  .lh-1_5 {
    line-height: 1.5 !important;
  }
  .lh-1_6 {
    line-height: 1.6 !important;
  }
  .lh-1_7 {
    line-height: 1.7 !important;
  }
  .lh-1_8 {
    line-height: 1.8 !important;
  }
  .lh-1_9 {
    line-height: 1.9 !important;
  }



  .nft {
    user-select: none;
  
    /* margin: 5rem auto; */
    /* border: 1px solid #ffffff22; */
    background-color: #282c34;
    background-image: radial-gradient(
      70.56% 70.56% at 50% 29.44%,
      #3712812b 0%,
      #1a1a1a 100%
    );
    box-shadow: 0 7px 20px 5px #00000088;
    border-radius: 1.3rem;
    backdrop-filter: blur(7px);
    -webkit-backdrop-filter: blur(7px);
    overflow: hidden;
    transition: 0.5s all;
  }
  
  .no-transition {
    transition: none !important;
  }
  
  .nft hr {
    width: 100%;
    border: none;
    border-bottom: 1px solid #88888855;
    margin-top: 0;
  }
  .nft ins {
    text-decoration: none;
  }
  .nft .main {
    display: flex;
    flex-direction: column;
    width: 90%;
    padding: 1rem;
  }
  .nft .main .tokenImage {
    border-radius: 0.5rem;
    max-width: 100%;
    height: 250px;
    object-fit: cover;
  }
  .nft .main .description {
    margin: 0.5rem 0;
    color: #a89ec9;
  }
  .nft .main .tokenInfo {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .nft .main .tokenInfo .price {
    display: flex;
    align-items: center;
    color: #ee83e5;
    font-weight: 700;
  }
  .nft .main .tokenInfo .price ins {
    margin-left: -0.3rem;
    margin-right: 0.5rem;
  }
  .nft .main .tokenInfo .duration {
    display: flex;
    align-items: center;
    color: #a89ec9;
    margin-right: 0.2rem;
  }
  .nft .main .tokenInfo .duration ins {
    margin: 0.5rem;
    margin-bottom: 0.4rem;
  }
  .nft .main .creator {
    display: flex;
    align-items: center;
    margin-top: 0.2rem;
    margin-bottom: -0.3rem;
  }
  .nft .main .creator ins {
    color: #a89ec9;
    text-decoration: none;
  }
  .nft .main .creator .wrapper {
    display: flex;
    align-items: center;
    border: 1px solid #ffffff22;
    padding: 0.3rem;
    margin: 0;
    margin-right: 0.5rem;
    border-radius: 100%;
    box-shadow: inset 0 0 0 4px #000000aa;
  }
  .nft .main .creator .wrapper img {
    border-radius: 100%;
    border: 1px solid #ffffff22;
    width: 2rem;
    height: 2rem;
    object-fit: cover;
    margin: 0;
  }
  .nft ::before {
    position: fixed;
    content: "";
    box-shadow: 0 0 100px 40px #ffffff08;
    top: -10%;
    left: -100%;
    transform: rotate(-45deg);
    height: 60rem;
    transition: 0.7s all;
  }
  .nft:hover {
    border: 1px solid #ffffff44;
    box-shadow: 0 7px 50px 10px #000000aa;
    transform: scale(1.015);
    filter: brightness(1.5);
  }
  .nft:hover ::before {
    filter: brightness(0.5);
    top: -100%;
    left: 200%;
  }

/* Custom Scrollbar Styles */
::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: #181a20;
  border-radius: 5px;
}

::-webkit-scrollbar-thumb {
  background: #3712812b;
  border-radius: 5px;
  border: 2px solid #181a20;
}

::-webkit-scrollbar-thumb:hover {
  background: #371281;
}